@charset "UTF-8";

/* Banner CSS */
.banner_wrap {
   width: 100%;
   height: auto;
   margin: 44px 0 0 0;
}

.banner_text {
   height: 46px;
   text-align: center;
   font-size: 14px;
   line-height: 46px;
}

.banner_text a {
   color: rgb(0, 102, 204);
}

.banner_text a:hover {
   text-decoration: underline;
}

.banner_text_phone {
   display: none;
}

/*  Section hero CSS */

/*  hero 1 iPhone 12 CSS */
.hero_1_wrap {
   width: 100%;
   height: 624px;
   text-align: center;
   padding: 47px 0 0 0;
   background: url(../img/hero1.jpg) no-repeat;
   background-size: auto;
   background-position: center bottom;
   cursor: pointer;
}

.hero_1_a {
   display: block;
   width: 100%;
   height: 100%;
}

.hero_subhead_black {
   margin: 6px 0 0 0;
}

.hero_price_info {
   margin: 13.6px 0 0 0;
   color: rgb(134, 134, 139);
}

.hero_link_whitebg {
   margin: 13.65px 0 0 0;
}

.hero_link_whitebg a {
   margin: 0 16px;
   font-size: 21px;
   line-height: 32px;
   letter-spacing: 0.2px;
   color: rgb(0, 102, 204);
}

.hero_link_whitebg a:hover {
   text-decoration: underline;
}

/*  hero 2 iPhone 12 Pro CSS */
.hero_2_wrap {
   width: 100%;
   height: 624px;
   text-align: center;
   padding: 47px 0 0 0;
   background: url(../img/hero2.jpg) no-repeat;
   background-size: auto;
   background-position: center bottom;
   margin-top: 12px;
   cursor: pointer;
}

.hero_headline_white {
   color: rgb(245, 245, 247);
}

.hero_subhead_white {
   margin: 6px 0 0 0;
   color: rgb(245, 245, 247);
}

.hero_link_blackbg {
   margin: 13.65px 0 0 0;
}

.hero_link_blackbg a {
   margin: 0 16px;
   font-size: 21px;
   line-height: 32px;
   letter-spacing: 0.2px;
   color: rgb(41, 151, 255);
}

.hero_link_blackbg a:hover {
   text-decoration: underline;
}

/*  hero 3 iPad Air CSS */
.hero_3_wrap {
   width: 100%;
   height: 624px;
   text-align: center;
   padding: 47px 0 0 0;
   background: url(../img/hero3.jpg) no-repeat;
   background-size: auto;
   background-position: center bottom;
   cursor: pointer;
}

/*  Section promotion CSS */
.promo_wrap {
   width: 100%;
   height: auto;
}

.promo {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 12px 6px 0;
}

/*  promotion 1 AppleWatch CSS */
.promo_1 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 0 6px 12px;
   background-color: rgb(0, 0, 0);
   text-align: center;
   background-image: url(../img/box1.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
   padding: 40px 0 0 0;
   cursor: pointer;
}

/* .promo_1 a {
   display: block;
   width: 100%;
   height: 100%;
} */

.promo_1 img {
   width: 128px;
   vertical-align: middle;
}

.promo_subhead_white {
   font-size: 21px;
   line-height: 26px;
   letter-spacing: 0.3px;
   color: rgb(245, 245, 247);
   margin: 11px 0 0 0;
}

.promo_link_blackbg {
   margin: 12px 0 0 0;
}

.promo_link_blackbg a {
   margin: 0 14px;
   font-size: 17px;
   line-height: 23px;
   color: rgb(41, 151, 255);
}

.promo_link_blackbg a:hover {
   text-decoration: underline;
}

/*  promotion 2 AppleWatch CSS */
.promo_2 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 0 6px 12px;
   background-color: rgb(0, 0, 0);
   text-align: center;
   background-image: url(../img/box2.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
   padding: 40px 0 0 0;
   cursor: pointer;
}

.promo_2 img {
   width: 148px;
   vertical-align: middle;
}

/*  promotion 3 Macbook CSS */
.promo_3 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 0 6px 12px;
   background-color: rgb(0, 0, 0);
   text-align: center;
   background-image: url(../img/box3.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
   padding: 40px 0 0 0;
   cursor: pointer;
}

.promo_eyebrow {
   color: rgb(245, 245, 247);
   font-weight: 600;
}

.promo_headline_white {
   color: rgb(245, 245, 247);
   font-size: 40px;
   line-height: 44px;
   margin: 2px 0 0 0;
}

.promo_3 p {
   margin: -11px 0 0 0;
}

.promo_3 h2 {
   margin: 4px 0 0 0;
}

/*  promotion 4 Macbook CSS */
.promo_4 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 0 6px 12px;
   background-color: rgb(0, 0, 0);
   text-align: center;
   background-image: url(../img/box4.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
   padding: 40px 0 0 0;
   cursor: pointer;
}

.promo_4 h2 {
   margin: 20px 0 0 0;
}

/*  promotion 5 Macbook CSS */
.promo_5 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 0 6px 12px;
   background-color: rgb(255, 255, 255);
   text-align: center;
   background-image: url(../img/box5.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
   padding: 40px 0 0 0;
   cursor: pointer;
}

.promo_5 h2 {
   margin: 13px auto 0;
}

.promo_5 h3 {
   margin: 4px 0 0 0;
}

.promo_headline_black {
   width: 480px;
   color: rgb(29, 29, 31);
   font-size: 40px;
   line-height: 44px;
   margin: 2px auto 0;
}

.promo_subhead_black {
   font-size: 21px;
   line-height: 26px;
   letter-spacing: 0.3px;
   color: rgb(29, 29, 31);
   margin: 11px 0 0 0;
}

.promo_link_whitebg {
   margin: 12px 0 0 0;
}

.promo_link_whitebg a {
   margin: 0 14px;
   font-size: 17px;
   line-height: 23px;
   color: rgb(0, 102, 204);
}

.promo_link_whitebg a:hover {
   text-decoration: underline;
}

/*  promotion 6 Macbook CSS */
.promo_6 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 0 6px 12px;
   background-color: rgb(241, 241, 243);
   text-align: center;
   background-image: url(../img/box6.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
   padding: 40px 0 0 0;
   cursor: pointer;
}

.promo_6 h2 {
   margin: 13px auto 0;
}


/* tablet portrait */
@media screen and (max-width:1068px) {
   /* hero */
   .hero_1_wrap, .hero_2_wrap, .hero_3_wrap {
      height: 650px;
      padding: 61px 0;
   }
   .hero_1_wrap {
      background-image: url(../img/hero_1068_1.jpg);
   }

   .hero_headline_black {
      font-size: 48px;
      line-height: 56px;
   }

   .hero_subhead_black {
      font-size: 24px;
      line-height: 31px;
      margin: 5px 0 0 0;
   }

   .hero_price_info {
      margin: 13.6px 0 0 0;
   }

   .hero_link_whitebg {
      margin: 14px 0 0 0;
   }

   .hero_link_whitebg a {
      font-size: 19px;
      line-height: 25px;
   }

   .hero_2_wrap {
      background-image: url(../img/hero_1068_2.jpg);
   }

   .hero_headline_white {
      font-size: 48px;
      line-height: 56px;
   }

   .hero_subhead_white {
      font-size: 24px;
      line-height: 31px;
      margin: 5px 0 0 0;
   }

   .hero_link_blackbg {
      margin: 14px 0 0 0;
   }

   .hero_link_blackbg a {
      font-size: 19px;
      line-height: 25px;
   }

   .hero_3_wrap {
      background-image: url(../img/hero_1068_3.jpg);
   }


   /* promo */
   .promo_1 {
      background-image: url(../img/box_1068_1.jpg);
      height: 489px;
      padding: 26px 0 0 0;
      background-size: auto 320px;
   }

   .promo_1 img {
      height: 46px;
   }

   .promo_subhead_white {
      font-size: 19px;
      line-height: 25px;
      letter-spacing: 0.2px;
      margin: 9px 0 0 0;
   }

   .promo_link_blackbg {
      margin: 13.6px;
   }

   .promo_2 {
      background-image: url(../img/box_1068_2.jpg);
      height: 489px;
      padding: 46px 0 0 0;
      background-size: auto 490px;
   }

   .promo_2 img {
      width: 121px;
   }

   .promo_3 {
      background-image: url(../img/box_1068_3.jpg);
      height: 489px;
      padding: 26px 0 0 0;
      background-size: auto 490px;
   }

   .promo_headline_white {
      font-size: 32px;
      line-height: 36px;
   }

   .promo_4 {
      background-image: url(../img/box_1068_4.jpg);
      height: 489px;
      padding: 26px 0 0 0;
      background-size: auto 490px;
   }

   .promo_5 {
      background-image: url(../img/box_1068_5.jpg);
      height: 489px;
      padding: 42px 0 0 0;
      background-size: auto 490px;
   }

   .promo_headline_black {
      font-size: 32px;
      line-height: 36px;
      margin: 0 auto ;
      width: 250px;
   }

   .promo_subhead_black {
      font-size: 19px;
      line-height: 25px;
   }

   .promo_6 {
      background-image: url(../img/box_1068_6.jpg);
      height: 489px;
      padding: 42px 0 0 0;
      background-size: auto 490px;
   }

   .promo_6 h2 {
      width: 260px;
   }

}

/* phone portrait */
@media screen and (max-width:740px) {
   /* banner */
   .banner_wrap {
      margin: 48px 0 0 0;
      height: 64px;
      padding: 10px 0 0 0;
   }

   .banner_text {width: 300px;
      height: auto;
      font-size: 14px; 
      line-height: 22px;
      width: 350px;
      margin: 0 auto;
   }

   /* hero */
   .hero_1_wrap, .hero_2_wrap, .hero_3_wrap {
      height: 500px;
      padding: 37px 0;
   }
   .hero_1_wrap {
      background-image: url(../img/hero_phone_1.jpg);
   }

   .hero_headline_black {
      font-size: 32px;
      line-height: 39px;
   }

   .hero_subhead_black {
      font-size: 19px;
      line-height: 29px;
      margin: 2px 0 0 0;
   }

   .hero_price_info {
      font-size: 14px;
      line-height: 22px;
      margin: 13.6px auto 0;
      width: 140px;
   }

   .hero_link_whitebg {
      margin: 13.3px 0 0 0;
   }

   .hero_link_whitebg a {
      font-size: 19px;
      line-height: 25px;
      margin: 0 14px;
   }

   .hero_2_wrap {
      background-image: url(../img/hero_phone_2.jpg);
   }

   .hero_headline_white {
      font-size: 32px;
      line-height: 39px;
   }

   .hero_subhead_white {
      font-size: 19px;
      line-height: 29px;
      margin: 2px 0 0 0;
   }

   .hero_link_blackbg {
      margin: 13.3px 0 0 0;
   }

   .hero_link_blackbg a {
      font-size: 19px;
      line-height: 25px;
      margin: 0 14px;
   }

   .hero_3_wrap {
      background-image: url(../img/hero_phone_3.jpg);
      padding: 390px 0 0 0;
   }

   .hero_3_wrap h2 {
      display: none;
   }

   
   /* promo */
   .promo_wrap {
      width: 100%;
      height: auto;
   }
   
   .promo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 12px 0 0 0;
   }

   .promo_1 {
      background-image: url(../img/box_phone_1.jpg);
      width: 100%;
      height: 500px;
      padding: 22px 0 0 0;
      margin: 0 0 12px 0;
   }

   .promo_2 {
      background-image: url(../img/box_phone_2.jpg);
      background-size: 734px 548px;
      width: 100%;
      height: 500px;
      padding: 39px 0 0 0;
      margin: 0 0 12px 0;
   }

   .promo_3 {
      background-image: url(../img/box_phone_3.jpg);
      width: 100%;
      height: 500px;
      padding: 54px 0 0 0;
      margin: 0 0 12px 0;
   }

   .promo_headline_white {
      font-size: 32px;
      line-height: 36px;
   }

   .promo_4 {
      background-image: url(../img/box_phone_4.jpg);
      width: 100%;
      height: 500px;
      padding: 22px 0 0 0;
      margin: 0 0 12px 0;
   }

   .promo_5 {
      background-image: url(../img/box_phone_5.jpg);
      width: 100%;
      height: 500px;
      padding: 22px 0 0 0;
      margin: 0 0 12px 0;
   }

   .promo_headline_black {
      font-size: 32px;
      line-height: 36px;
      margin: 0 auto ;
      width: 250px;
   }

   .promo_subhead_black {
      font-size: 19px;
      line-height: 25px;
   }

   .promo_6 {
      background-image: url(../img/box_phone_6.jpg);
      background-position-y: -10%;
      width: 100%;
      height: 500px;
      padding: 27px 0 0 0;
      margin: 0 0 12px 0;
   }

}